{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_threesixo/list_participants

    Moodle template to the template library

    The purpose of this template is build the entire page for the template library (by including smaller templates).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * threesixtyid - int The ID for the 360 degree feedback.
    * participants - array of all the members that will be given feedback. Each component has a name and an actions attribute.

    Example context (json):
    {
        "threesixtyid": 1,
        "canperformactions": true,
        "participants": [
            {
                "name" : "Kurdapyo Dimagiba",
                "statuspending" : true,
                "respondlink": "#",
                "declinelink": "#"
            },
            {
                "name" : "Kurdapya Dimagiba",
                "statusinprogress" : true,
                "respondlink": "#",
                "declinelink": "#"
            },
            {
                "name" : "John Doe",
                "statusinprogress" : true,
                "undodeclinelink": "#"
            }
        ]
    }
}}
<div class="container-fluid" data-region="participantlist">
    <div class="row m-t-1">
        <table class="flexible generaltable generalbox" id="participants">
            <thead>
                <tr>
                    <th scope="col">{{#str}}name, mod_threesixo{{/str}}</th>
                    <th scope="col">{{#str}}status, mod_threesixo{{/str}}</th>
                    <th scope="col">{{#str}}labelactions, mod_threesixo{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{# participants }}
                <tr class="user unselectedrow">
                    <td>
                        {{ name }}
                    </td>
                    <td>
                        <span class="badge
                            {{#statuspending}}badge-secondary{{/statuspending}}
                            {{#statusinprogress}}badge-info{{/statusinprogress}}
                            {{#statusviewonly}}badge-info{{/statusviewonly}}
                            {{#statuscompleted}}badge-success{{/statuscompleted}}
                            {{#statusdeclined}}badge-warning{{/statusdeclined}}">
                            {{#statuspending}}{{#str}}statuspending, mod_threesixo{{/str}}{{/statuspending}}
                            {{#statusinprogress}}{{#str}}statusinprogress, mod_threesixo{{/str}}{{/statusinprogress}}
                            {{#statuscompleted}}{{#str}}statuscompleted, mod_threesixo{{/str}}{{/statuscompleted}}
                            {{#statusdeclined}}{{#str}}statusdeclined, mod_threesixo{{/str}}{{/statusdeclined}}
                            {{#statusviewonly}}{{#str}}statusviewonly, mod_threesixo{{/str}}{{/statusviewonly}}
                        </span>
                    </td>
                    <td>
                        {{#canperformactions}}
                            {{#respondlink}}
                            <a class="btn btn-link" href="{{{respondlink}}}" title="{{#str}}providefeedback, mod_threesixo{{/str}}">
                                {{#pix}} t/editstring, core, {{#str}}providefeedback, mod_threesixo{{/str}} {{/pix}}
                            </a>
                            {{/respondlink}}
                            {{#declinelink}}
                            <a class="btn btn-link" href="#" data-action="decline-feedback" data-statusid="{{statusid}}" data-userid="{{userid}}" data-name="{{name}}" title="{{#str}}decline, mod_threesixo{{/str}}">
                                {{#pix}} t/delete, core, {{#str}}decline, mod_threesixo{{/str}} {{/pix}}
                            </a>
                            {{/declinelink}}
                            {{#undodeclinelink}}
                            <a class="btn btn-link" href="#" data-action="undo-decline" data-statusid="{{statusid}}" data-userid="{{userid}}" title="{{#str}}undodecline, mod_threesixo{{/str}}">
                                {{#pix}} e/undo, core, {{#str}}undodecline, mod_threesixo{{/str}} {{/pix}}
                            </a>
                            {{/undodeclinelink}}
                        {{/canperformactions}}
                        {{#reportslink}}
                            <a class="btn btn-link" href="{{{reportslink}}}" data-action="view-report" data-id="{{id}}" data-userid="{{userid}}" title="{{#str}}view, mod_threesixo{{/str}}">
                                {{#pix}} t/preview, core, {{#str}}viewfeedbackforuser, mod_threesixo{{/str}} {{/pix}}
                            </a>
                        {{/reportslink}}
                    </td>
                </tr>
            {{/ participants }}
            </tbody>
        </table>
    </div>
</div>
{{#js}}
    require(['mod_threesixo/view'], function(View) {
        new View({{threesixtyid}});
    });
{{/js}}
