{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_threesixo/question_list

    Moodle question list template for the 360-degree feedback.

    The purpose of this template is to render the list of questions from the question bank of the 360-degree feedback module
    which can be used by the question chooser dialogue.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * pickerMode Whether to render template in picker mode or not.
    * questions Array of questions with id, question and question type.

    Example context (json):
    {
        "pickerMode": true,
        "questions": [
            {
                "id": "1",
                "question": "Example question 1",
                "type": "Rated"
            },
            {
                "id": "2",
                "question": "Example question 2",
                "type": "Rated"
            },
            {
                "id": "3",
                "question": "Example question 3",
                "type": "Comment"
            }
        ]
    }
}}
<table class="table table-striped">
    <tr>
        {{#pickerMode}}
            <th scope="col">
                <label for="pick-all">{{#str}}labelpick, mod_threesixo{{/str}}</label><br>
                <input id="pick-all" name="pick-all" type="checkbox" value="1"
                       data-action="toggle" data-toggle="master" data-togglegroup="360-questions" >
            </th>
        {{/pickerMode}}
        <th scope="col">
            {{#str}}labelquestion, mod_threesixo{{/str}}
        </th>
        <th scope="col">
            {{#str}}labelquestiontype, mod_threesixo{{/str}}
        </th>
        <th scope="col">
            {{#str}}labelactions, mod_threesixo{{/str}}
        </th>
    </tr>
    {{#questions}}
        <tr>
            {{#pickerMode}}
                <td>
                    <input type="checkbox" id="check-question-{{id}}" class="question-checkbox"
                           data-questionid="{{id}}" {{#checked}}checked="checked"{{/checked}}
                           data-action="toggle" data-toggle="slave" data-togglegroup="360-questions">
                </td>
            {{/pickerMode}}
            <td>
                {{#pickerMode}}
                    <label for="check-question-{{id}}">{{question}}</label>
                {{/pickerMode}}
                {{^pickerMode}}
                    {{question}}
                {{/pickerMode}}
            </td>
            <td>
                {{typeName}}
            </td>
            <td>
                {{#pickerMode}}
                    {{#canEdit}}
                        <button type="button" class="btn btn-link edit-question-button" id="edit-question-{{id}}" data-threesixtyid="{{pickerMode}}" data-questionid="{{id}}" title="{{#str}}editquestion, mod_threesixo{{/str}}">
                            {{#pix }} t/edit, core, {{#str}}editquestion, mod_threesixo{{/str}} {{/pix}}
                        </button>
                    {{/canEdit}}
                    {{#canDelete}}
                        <button type="button" class="btn btn-link delete-question-button" id="delete-question-{{id}}" data-threesixtyid="{{pickerMode}}" data-questionid="{{id}}" title="{{#str}}deletequestion, mod_threesixo{{/str}}">
                            {{#pix }} t/delete, core, {{#str}}deletequestion, mod_threesixo{{/str}} {{/pix}}
                        </button>
                    {{/canDelete}}
                {{/pickerMode}}
            </td>
        </tr>
    {{/questions}}
</table>
