{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_threesixo/questionnaire

    Moodle template to the template library

    The purpose of this template is build the entire page for the template library (by including smaller templates).

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * status
    * statusclass
    * scalelabels
    * ratedquestions
    * scales

    Example context (json):
    {
        "actionurl": "#",
        "threesixtyid": 1,
        "fromuserid": 1,
        "touserid": 1,
        "status": "In progress",
        "statusclass": "badge-info",
        "ratedquestions": [
            { "questionid" : 1, "question": "Treats co-workers with courtesy and respect." },
            { "questionid" : 2, "question": "Has a positive attitude." },
            { "questionid" : 3, "question": "Has initiative needed without relying on co-workers unnecessarily." },
            { "questionid" : 4, "question": "Can capably lead projects effectively." },
            { "questionid" : 5, "question": "Possesses strong technical skills for their position." }
        ],
        "scales": [
            { "scale" : 1, "scalelabel": "1", "description": "Strongly disagree" },
            { "scale" : 2, "scalelabel": "2", "description": "Disagree" },
            { "scale" : 3, "scalelabel": "3", "description": "Somewhat disagree" },
            { "scale" : 4, "scalelabel": "4", "description": "Somewhat agree" },
            { "scale" : 5, "scalelabel": "5", "description": "Agree"},
            { "scale" : 6, "scalelabel": "6", "description": "Strongly agree" },
            { "scale" : 0, "scalelabel": "N/A", "description": "Not applicable" }
        ]
    }
}}
<div class="card">
    <div class="card-body" data-region="status">
        <span class="badge {{statusclass}}">{{ status }}</span>
    </div>
</div>
<div class="card"
     data-region="questionnaire"
     data-threesixtyid="{{threesixtyid}}"
     data-anonymous="{{anonymous}}"
     data-fromuserid="{{fromuserid}}"
     data-touserid="{{touserid}}"
     data-tousername="{{tousername}}">
    <div class="card-body">
        <form id="questionnaire" method="post" action="{{{actionurl}}}">
            <input type="hidden" id="threesixo" value="{{threesixtyid}}">
            <input type="hidden" id="submission" value="{{submissionid}}">
            <input type="hidden" id="feedback-submitted" name="feedback-submitted" value="">
            {{#hasratedquestions}}
                {{#ratedquestions}}
                    <fieldset class="form-group row mx-1" data-region="question-item" data-itemid="{{id}}">
                        <legend>
                            <small>{{question}}</small>
                        </legend>
                        {{#scales}}
                            <div class="col text-center scaleoption">
                                <label for="option-{{questionid}}-{{scale}}" data-region="rating-scale-option" data-questionid="{{questionid}}" data-value="{{scale}}" data-radio-button="option-{{questionid}}-{{scale}}">
                                    <input class="{{optionclass}}" type="radio" name="question-{{questionid}}" value="{{scale}}" id="option-{{questionid}}-{{scale}}"/>
                                    <span aria-hidden="true" class="scaleoptionlabel btn btn-secondary">{{scalelabel}}</span>
                                    <span class="d-block"><small>{{description}}</small></span>
                                </label>
                            </div>
                        {{/scales}}
                    </fieldset>
                {{/ratedquestions}}
            {{/hasratedquestions}}
            {{#hascommentquestions}}
                {{#commentquestions}}
                    <div class="form-group" data-region="question-item" data-itemid="{{id}}">
                        <label for="question-{{id}}">{{question}}</label>
                        <textarea id="question-{{id}}" name="question-{{id}}" placeholder="{{#str}}entercomment, mod_threesixo{{/str}}" class="form-control" cols="50" rows="5" data-region="comment-item" data-itemid="{{id}}">{{value}}</textarea>
                    </div>
                {{/commentquestions}}
            {{/hascommentquestions}}
            <button type="submit" class="btn btn-primary" id="submit-feedback">{{#str}}submit{{/str}}</button>
            <button type="submit" class="btn btn-secondary" id="save-feedback">{{#str}}savechanges{{/str}}</button>
            <a class="btn btn-secondary" id="cancel-feedback" href="{{returnurl}}">{{#str}}cancel{{/str}}</a>
        </form>
    </div>
</div>
{{#js}}
    require(['mod_threesixo/questionnaire'], function(questionnaire) {
        questionnaire.init();
    });
{{/js}}
