{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_threesixo/report

    Renders the report page containing the feedback for a specific user.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * userselect {Object} URL select context data
    * activitylink {Object} Action link context data
    * ratings {Array} List of rated questions and their average ratings.
    * commentitems {Array} List of responses to the comment-type questions.

    Example context (json):
    {
        "userselect": null,
        "activitylink": null,
        "ratings": [
            {
                "question": "Question 1",
                "averagerating": 5,
                "progresspercentage": 83.33
            }
        ],
        "commentitems": [
            {
                "question": "In which area do you think I need more improvement?",
                "comments": [
                    {
                        "comment": "You should pay more attention to detail",
                        "fromuser": "John Doe"
                    },
                    {
                        "comment": "You're perfect for me!",
                        "fromuser": "Jane Doe"
                    }
                ]
            }
        ]
    }
}}
<div class="card">
    <div class="card-block p-1">
        <div class="row m-0">
            <div class="col-6 text-left">
                {{#userselect}}{{> core/url_select }}{{/userselect}}
                {{#downloadselect}}{{> core/single_select }}{{/downloadselect}}
            </div>
            <div class="col-6 text-right">
                {{#activitylink}}{{> core/action_link }}{{/activitylink}}
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4>{{#str}}ratings, mod_threesixo{{/str}}</h4>
    </div>
    <div class="card-block">
        <ul class="list-group list-group-flush">
            {{#ratings}}
                <li class="list-group-item">
                    <p class="card-text">
                        <strong>{{question}}</strong>
                    </p>
                    {{#averagerating}}
                        <div class="row">
                            <div class="col-3" id="item-{{id}}">
                                <p class="text-right">
                                    {{#str}}averagerating, mod_threesixo, <strong>{{averagerating}}</strong>{{/str}}
                                </p>
                            </div>
                            <div class="col-9">
                                <div class="progress">
                                    <div class="progress-bar bar" role="progressbar" style="width: {{progresspercentage}}%" aria-valuenow="{{progresspercentage}}" aria-valuemin="0" aria-valuemax="100" aria-describedby="item-{{id}}"></div>
                                </div>
                            </div>
                        </div>
                    {{/averagerating}}
                    {{^averagerating}}
                        <p class="font-italic">{{#str}}notapplicableabbr, mod_threesixo{{/str}}</p>
                    {{/averagerating}}
                </li>
            {{/ratings}}
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4>{{#str}}comments, mod_threesixo{{/str}}</h4>
    </div>
    <div class="card-block">
        {{#commentitems}}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-text">
                        <strong>{{question}}</strong>
                    </p>
                    {{#comments}}
                        <blockquote class="blockquote">
                            <p>{{comment}}</p>
                            <footer class="blockquote-footer"><cite title="{{fromuser}}">{{fromuser}}</cite></footer>
                        </blockquote>
                    {{/comments}}
                    {{^comments}}
                        <p class="font-italic">{{#str}}notapplicableabbr, mod_threesixo{{/str}}</p>
                    {{/comments}}
                </li>
            </ul>
        {{/commentitems}}
    </div>
</div>
